[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build-exe = "pyinstaller src/tx-mes-cli.spec"

[packages]
pydantic = "*"
pandas = "*"
pywin32 = {version = "*", markers = "sys_platform == 'win32'"}
plyer = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pyinstaller = "*"
pytest-httpx = "*"

[requires]
python_version = "3.8"
